extends layout

block content
    h1.col-md-6.col-lg-6.col-sm-12 Stay Connect   

    .col-md-6.col-lg-6.col-sm-12
      
        Unit-818 37,Johsnon st., Barrie, ON, CA
          
            p
              a(href="mailto:deepupatel5619@gmail.com") deepupatel5619@gmail.com
            p
              a(href="https://www.linkedin.com/in/divyakumar-patel-14a371164/") Connect me with LinkIn
            p
                |(647) 573 8673
            
         
