doctype html
html
    head
      link(rel='stylesheet', href='style.css')
    body
        ul.mainpage
            li
                a(href='index') Home
            li
                a(href='aboutme') About Me
            li
                a(href='projects') Projects
            li
                a(href='services') Services
            li
                a(href='contact') Contact

        block content
        
        