extends layout

block content

    h1 What I do
    
    .gallery
      a(target="_blank" href="img_5terre.jpg")
        img(src="frontend.png"  width="800" height="600")
      .desc Front End Development
    .gallery
      a(target="_blank" href="img_forest.jpg")
        img(src="GD.jpg"  width="800" height="600")
      .desc Graphic Design
    .gallery
      a(target="_blank" href="img_lights.jpg")
        img(src="images.jpg"  width="800" height="600")
      .desc Freelencer
    
    